@{
    ViewData["Title"] = "Home";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="content cards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6 xl-50">
                <div class="card order-graph sales-carousel">
                    <div class="card-header">
                        <h6>Registrations Last Week</h6>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-7">
                                <div class="small-chartjs">
                                    <div class="flot-chart-placeholder" id="simple-line-chart-sparkline-1"></div>
                                </div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="value-graph">
                                    <h4>42% <span><i class="fa fa-angle-up font-primary"></i></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <span>Total Registrations</span>
                                <h2 class="mb-0">9054</h2>
                                <p>
                                    <span><i class="fas fa-user"></i></span> 35%
                                    <span class="ml-3"><i class="fas fa-user-md"></i></span> 65%
                                </p> 
                            </div>
                            <div class="small-box">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 xl-50">
                <div class="card order-graph sales-carousel">
                    <div class="card-header">
                        <h6>Registrations Last Week</h6>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-7">
                                <div class="small-chartjs">
                                    <div class="flot-chart-placeholder" id="simple-line-chart-sparkline-2"></div>
                                </div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="value-graph">
                                    <h4>42% <span><i class="fa fa-angle-up font-primary"></i></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <span>Total Registrations</span>
                                <h2 class="mb-0">9054</h2>
                                <p>
                                    <span><i class="fas fa-user"></i></span> 35%
                                    <span class="ml-3"><i class="fas fa-user-md"></i></span> 65%
                                </p>
                            </div>
                            <div class="small-box">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 xl-50">
                <div class="card order-graph sales-carousel">
                    <div class="card-header">
                        <h6>Registrations Last Week</h6>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-7">
                                <div class="small-chartjs">
                                    <div class="flot-chart-placeholder" id="simple-line-chart-sparkline-3"></div>
                                </div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="value-graph">
                                    <h4>42% <span><i class="fa fa-angle-up font-primary"></i></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <span>Total Registrations</span>
                                <h2 class="mb-0">9054</h2>
                                <p>
                                    <span><i class="fas fa-user"></i></span> 35%
                                    <span class="ml-3"><i class="fas fa-user-md"></i></span> 65%
                                </p>
                            </div>
                            <div class="small-box">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 xl-50">
                <div class="card order-graph sales-carousel">
                    <div class="card-header">
                        <h6>Registrations Last Week</h6>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-7">
                                <div class="small-chartjs">
                                    <div class="flot-chart-placeholder" id="simple-line-chart-sparkline-4"></div>
                                </div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="value-graph">
                                    <h4>42% <span><i class="fa fa-angle-up font-primary"></i></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <span>Total Registrations</span>
                                <h2 class="mb-0">9054</h2>
                                <p>
                                    <span><i class="fas fa-user"></i></span> 35%
                                    <span class="ml-3"><i class="fas fa-user-md"></i></span> 65%
                                </p>
                            </div>
                            <div class="small-box">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->


@section Scripts {
    <script>
        $("#simple-line-chart-sparkline-1").sparkline([20, 5, 80, 10, 100, 15, 40], {
            type: 'line',
            width: '100%',
            height: '100%',
            tooltipClassname: 'chart-sparkline',
            lineColor: '#ff8084',
            fillColor: 'transparent',
            highlightLineColor: "#ff8084",
            highlightSpotColor: false,
            targetColor: "#ff8084",
            performanceColor: "#ff8084",
            boxFillColor: "#ff8084",
            medianColor: "#ff8084",
            minSpotColor: false,
            maxSpotColor: false,
            spotColor: false
        });
        $("#simple-line-chart-sparkline-2").sparkline([85, 83, 90, 70, 85, 60, 65, 63, 68, 68, 65, 40, 60, 68, 75, 70, 90], {
            type: 'line',
            width: '100%',
            height: '100%',
            tooltipClassname: 'chart-sparkline',
            lineColor: '#ffbc58',
            fillColor: 'transparent',
            highlightLineColor: "#ffbc58",
            highlightSpotColor: false,
            targetColor: "#ffbc58",
            performanceColor: "#ffbc58",
            boxFillColor: "#ffbc58",
            medianColor: "#ffbc58",
            minSpotColor: false,
            maxSpotColor: false,
            spotColor: false
        });
        $("#simple-line-chart-sparkline-3").sparkline([20, 5, 80, 10, 100, 15], {
            type: 'line',
            width: '100%',
            height: '100%',
            tooltipClassname: 'chart-sparkline',
            lineColor: '#ff8084',
            fillColor: 'transparent',
            highlightLineColor: "#ff8084",
            highlightSpotColor: false,
            targetColor: "#ff8084",
            performanceColor: "#ff8084",
            boxFillColor: "#ff8084",
            medianColor: "#ff8084",
            minSpotColor: false,
            maxSpotColor: false,
            spotColor: false
        });
        $("#simple-line-chart-sparkline-4").sparkline([85, 83, 90, 70, 85, 60, 65, 63, 68, 68, 65, 40, 60, 68, 75, 70, 90], {
            type: 'line',
            width: '100%',
            height: '100%',
            tooltipClassname: 'chart-sparkline',
            lineColor: '#02cccd',
            fillColor: 'transparent',
            highlightLineColor: "#02cccd",
            highlightSpotColor: false,
            targetColor: "#02cccd",
            performanceColor: "#02cccd",
            boxFillColor: "#02cccd",
            medianColor: "#02cccd",
            minSpotColor: false,
            maxSpotColor: false,
            spotColor: false
        });
    </script>
}