@model FavoriteNumberVM

@if (Model is not null)
{
    <i class="far fa-heart"></i>
    <div class="number">@Model.NumberOfAdvices</div>
}
else
{
    <i class="far fa-heart"></i>
    <div class="number">0</div>
}

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        toastr.error('@TempData["Error"]');
    </script>
}
@if (TempData["Warning"] != null)
{
    <script type="text/javascript">
        toastr.warning('@TempData["Warning"]');
    </script>
}