@model MyAdviceVM

@{
    ViewData["Title"] = "My Advices";
    int number = Convert.ToInt32(ViewData["itemsCount"]);
}

<!--============= breadcrumb start ===============-->
<div class="pq-breadcrumb" style="background-image: url('../rev/assets/page-title4.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h2>My Medical Advices</h2>
                    </div>
                    <div class="pq-breadcrumb-container mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home mr-2"></i>Home
                                </a>
                            </li>
                            <li class="breadcrumb-item active">My Medical Advices</li>
                        </ol>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="pq-breadcrumb-img text-right wow fadeInRight animated" style="visibility: visible;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= breadcrumb End ===============-->

<!--============= Advices Start ===============-->
<section class="3-colume-grid advices pb-5 pt-5">
    <div class="container">

        <button class="btn btn-primary add_advice mb-5" id="openModelAdvice">Add New Advice <i class="fas fa-plus"></i></button>
        <!-- Model Form -->
        <div id="modelAdvice" class="modal model">
            <!-- Modal content -->
            <div class="modal-content">
                <h4 class="modal-title">Advice</h4>
                <span class="close3">&times;</span>
                <hr class="mt-3 mb-3">
                <form asp-action="SaveAdvice" role="form" method="post" enctype="multipart/form-data">

                    @*Id*@
                    <input class="advice_id" type="hidden" asp-for="AdviceVM.Id" value="0" />

                    @*UserId*@
                    <input type="hidden" asp-for="AdviceVM.UserId" value="@ViewBag.UserId" />

                    
                    @*DoctorId*@
                    <input type="hidden" asp-for="AdviceVM.DoctorId" value="@ViewBag.doctorId" />

                    @*Image*@
                    <div class="drop-zone mb-3">
                        <span class="drop-zone__prompt mr-3">
                            Drop image here or click to upload
                        </span>
                        <input type="file" name="file" class="drop-zone__input">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            @*Disease Type*@
                            <label for="Type">Type Of Disease</label>
                            <div class="form-group form-group-select mb-3">
                                <select id="DiseaseTypeId" asp-for="AdviceVM.DiseaseTypeId" asp-items="@(new SelectList(ViewBag.LstDiseaseTypes, "Id","Name_EN"))" class="round" id="Type">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            @*Disease*@
                            <label for="Disease">Disease</label>
                            <div class="form-group form-group-select mb-3">
                                <select id="DiseaseId" asp-for="AdviceVM.DiseaseId" class="round" id="Disease">
                                </select>
                            </div>
                        </div>
                    </div>

                    @*Title*@
                    <label for="title">Title</label>
                    <div class="form-group mb-3">
                        <i class="fas fa-heading"></i>
                        <input asp-for="AdviceVM.Title" id="title" type="text" class="form-control title" placeholder="">
                    </div>

                    @*Content*@
                    <label for="content">Content</label>
                    <div class="form-group mb-3">
                        <i class="far fa-newspaper"></i>
                        <textarea asp-for="AdviceVM.Content" id="content" class="form-control content"></textarea>
                    </div>

                    <button class="submit btn bt-success" type="submit">Save</button>
                </form>
            </div>
        </div>

        <div class="row">
            @if(Model.LstAdvices is not null) {
                @foreach (var item in Model.LstAdvices)
                {
                    <div class="col-lg-4">
                        <partial name="_Advice" model="item" />
                    </div>
                }
            }

            <!-- Start Pagination -->
            <div class="m-auto d-flex justify-content-center">
                <cs-pager cs-paging-pagenumber="(int)Model.Pagination.pageNumber"
                            cs-paging-totalitems="number"
                            cs-paging-pagesize="(int)Model.Pagination.pageSize"
                            cs-pagenumber-param="pagenumber"
                            cs-pager-li-current-class="page-item active"
                            cs-pager-li-other-class="page-item"
                            cs-pager-li-non-active-class="page-item disabled"
                            cs-pager-link-current-class="page-link"
                            cs-pager-link-other-class="page-link"
                            asp-controller="Advice"
                            asp-action="MyAdvices"></cs-pager>
            </div>
            <!-- ENd Pagination -->
        </div>
    </div>
</section>
<!--============= Advices End ===============-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Notification");
    }
    <script src="~/js/myAdvices.js"></script>
    <script src="~/ajax/DeleteAdvice.js"></script>
    <script>
        $(document).ready(function () {

            $(".edit_advice").on('click', function () {
                var itemId = $(this).children('input.id').val();
                var title = $(this).children('input.title').val();
                var content = $(this).children('input.content').val();

                $("#modelAdvice form input.advice_id").val(itemId);
                $("#modelAdvice form input.title").val(title);
                $("#modelAdvice form textarea").val(content);
            });

            $(".edit_advice").on('click', function () {
                $("#modelAdvice").css('display', 'block');
                $("#modelAdvice .modal-content").animate({
                    top: 0
                }, 300);
            });


            // When the user clicks on <span> (x), close the modal
            $(".close3").on('click', function () {
                $("#modelAdvice form input.advice_id").val('');
                $("#modelAdvice form input.title").val('');
                $("#modelAdvice form textarea").val('');

                $("#modelAdvice").css('display', 'none');
                $("#modelAdvice .modal-content").animate({
                    top: '-300px'
                }, 300);
            });


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    $("#modelAdvice form input.advice_id").val('');
                    $("#modelAdvice form input.title").val('');
                    $("#modelAdvice form textarea").val('');

                    $("#modelAdvice").css('display', 'none');
                    $("#modelAdvice .modal-content").animate({
                        top: '-300px'
                    }, 300);
                }
            }

            var diseaseTypeId = $("#DiseaseTypeId").val();
            var diseaseId = $("#DiseaseId");

            if (diseaseTypeId != '') {
                $.ajax({
                    url: '/Advice/GetDiseasesByDiseaseTypeId?diseaseTypeId=' + diseaseTypeId,
                    type: 'GET',
                    success: function (data) {
                        $.each(data, function (i, val) {
                            diseaseId.append($('<option></option>').attr('value', val.id).text(val.name_EN));
                        });
                    },
                    error: function () {
                        alert("Somthing went wrong!");
                    }
                });
            }

            $("#DiseaseTypeId").on('change', function () {
                diseaseTypeId = $(this).val();
                diseaseId = $("#DiseaseId");

                diseaseId.empty();

                if (diseaseTypeId != '') {
                    $.ajax({
                        url: '/Advice/GetDiseasesByDiseaseTypeId?diseaseTypeId=' + diseaseTypeId,
                        type: 'GET',
                        success: function (data) {
                            $.each(data, function (i, val) {
                                diseaseId.append($('<option></option>').attr('value', val.id).text(val.name_EN));
                            });
                        },
                        error: function () {
                            alert("Somthing went wrong!");
                        }
                    });
                }

            });
        });
    </script>
    <script>
        $(function () {
            $("a.add_fav").click(function (e) {
                e.preventDefault();

                let id = $(this).data("id");
                let ajaxDiv = $(this).parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                $.get('/Favorite/AddToFavorite/' + id, {}, function (data) {
                    $(".favorite").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                        });
                    });
                });
            });
        });
    </script>

}