@model ModelPageVM

@{
    ViewData["Title"] = "Diseases Detection";
}

@section Styles {
    <style>
        .ajaxbg img {
            top: 30% !important;
        }
        .pages {
            position: relative !important;
        }
    </style>
}

<!-- ============ Model Start ============= -->
<div class="model account mt-5 mb-5">
    <div class="container">
        <div class="row">

            <!-- Start Tabs -->
            <div class="col-lg-3 col-md-4 mb-lg-0 mb-md-0 mb-4">
                <div class="tabs">
                    <li class="active model_1">
                        Pneumonia
                    </li>
                    <li class="model_2">
                        Tuberculosis
                    </li>
                    <li class="model_3">
                        Lung Cancer
                    </li>
                </div>
            </div>
            <!-- End Tabs -->
            <!-- Start Pages -->
            <div class="col-lg-9 col-md-8">
                <div class="pages">
                    <div class="ajaxbg d-none">
                        <img src="~/images/giphy.gif" />
                    </div>
                    <!-- Strat Model_1 -->
                    <div class="page model_1 active">
                        <form id="pneumonia">
                            <div class="drop-zone">
                                <span class="drop-zone__prompt mr-3">
                                    Drop image here or click to upload
                                </span>
                                <i class="fas fa-upload"></i>
                                <input asp-for="ModelFile.File" type="file" name="file" class="drop-zone__input">
                            </div>
                            <div class="form-group mb-3 mt-4">
                                <input placeholder="Enter Patient Name" class="PatientName" asp-for="ModelFile.PatientName" type="text" name="PatientName">
                            </div>
                            <a class="btn btn-success upload">Upload <i class="fas fa-upload"></i></a>
                        </form>
                    </div>
                    <!-- End Model_1 -->
                    <!--=================================================================================-->
                    <!-- Start Model_2 -->
                    <div class="Modle model_2 page">
                        <form id="tuberculosis">
                            <div class="drop-zone">
                                <span class="drop-zone__prompt mr-3">
                                    Drop image here or click to upload
                                </span>
                                <i class="fas fa-upload"></i>
                                <input asp-for="ModelFile.File" type="file" name="file" class="drop-zone__input">
                            </div>
                            <div class="form-group mb-3 mt-4">
                                <input placeholder="Enter Patient Name" class="PatientName" asp-for="ModelFile.PatientName" type="text" name="PatientName">
                            </div>
                            <a class="btn btn-success upload">Upload <i class="fas fa-upload"></i></a>
                        </form>
                    </div>
                    <!-- End Model_2 -->
                    <!--==================================================================================-->
                    <!-- Start Model_3 -->
                    <div class="hardware model_3 page">
                        <div class="card">
                            <div class="card-header">
                                Lung Cancer
                            </div>
                            <div class="card-body">
                                <form id="lungCancer" >
                                    <div class="row">
                                        <div class="form-group mb-2 col-lg-12">
                                            <label class="lbl" for="PatientName">Patien tName</label>
                                            <input id="PatientName" type="number" asp-for="LungCancer.PatientName">
                                        </div>
                                        <div class="form-group mb-2 col-lg-6">
                                            <label class="lbl" for="gender">Gender</label>
                                            <select class="round" name="" id="gender" asp-for="LungCancer.Gender">
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-2 col-lg-6">
                                            <label class="lbl" for="age">Age</label>
                                            <input id="age" type="number" asp-for="LungCancer.Age">
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">AirPollution</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                                <div class='ctrl__counter'>
                                                    <input asp-for="LungCancer.AirPollution" id="airPollution" class='ctrl__counter-input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">DustAllergy</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement decrement_ctrl_2'>&ndash;</div>
                                                <div class='ctrl__counter counter_ctrl_2'>
                                                    <input asp-for="LungCancer.DustAllergy" id="dustAllergy" class='ctrl__counter-input input_ctrl_2 d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num num_ctrl_2'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment increment_ctrl_2'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">OccuPationalHazards</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_3_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_3_counter'>
                                                    <input asp-for="LungCancer.OccuPationalHazards" id="occuPationalHazards" class='ctrl__counter-input ctrl_3_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_3_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_3_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">GeneticRisk</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_4_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_4_counter'>
                                                    <input asp-for="LungCancer.GeneticRisk" id="geneticRisk" class='ctrl__counter-input ctrl_4_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_4_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_4_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">ChronicLungDisease</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_5_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_5_counter'>
                                                    <input asp-for="LungCancer.ChronicLungDisease" id="chronicLungDisease" class='ctrl__counter-input ctrl_5_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_5_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_5_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">BalancedDiet</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_6_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_6_counter'>
                                                    <input asp-for="LungCancer.BalancedDiet" id="balancedDiet" class='ctrl__counter-input ctrl_6_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_6_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_6_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Obesity</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_7_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_7_counter'>
                                                    <input asp-for="LungCancer.Obesity" id="obesity" class='ctrl__counter-input ctrl_7_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_7_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_7_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">ChestPain</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_8_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_8_counter'>
                                                    <input asp-for="LungCancer.ChestPain" id="chestPain" class='ctrl__counter-input ctrl_8_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_8_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_8_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">CoughingofBlood</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_9_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_9_counter'>
                                                    <input asp-for="LungCancer.CoughingofBlood" id="coughingofBlood" class='ctrl__counter-input ctrl_9_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_9_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_9_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Fatigue</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_10_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_10_counter'>
                                                    <input asp-for="LungCancer.Fatigue" id="fatigue" class='ctrl__counter-input ctrl_10_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_10_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_10_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">WeightLoss</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_11_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_11_counter'>
                                                    <input asp-for="LungCancer.WeightLoss" id="weightLoss" class='ctrl__counter-input ctrl_11_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_11_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_11_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">ShortnessofBreath</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_12_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_12_counter'>
                                                    <input asp-for="LungCancer.ShortnessofBreath" id="shortnessofBreath" class='ctrl__counter-input ctrl_12_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_12_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_12_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Wheezing</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_13_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_13_counter'>
                                                    <input asp-for="LungCancer.Wheezing" id="wheezing" class='ctrl__counter-input ctrl_13_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_13_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_13_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">SwallowingDifficulty</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_14_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_14_counter'>
                                                    <input asp-for="LungCancer.SwallowingDifficulty" id="swallowingDifficulty" class='ctrl__counter-input ctrl_14_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_14_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_14_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">ClubbingofFingerNail</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_15_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_15_counter'>
                                                    <input asp-for="LungCancer.ClubbingofFingerNail" id="clubbingofFingerNail" class='ctrl__counter-input ctrl_15_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_15_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_15_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">FrequentCold</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_16_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_16_counter'>
                                                    <input asp-for="LungCancer.FrequentCold" id="frequentCold" class='ctrl__counter-input ctrl_16_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_16_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_16_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">DryCough</label>
                                            <div class='ctrl'>
                                                <div class='ctrl__button ctrl__button--decrement ctrl_17_decrement'>&ndash;</div>
                                                <div class='ctrl__counter ctrl_17_counter'>
                                                    <input asp-for="LungCancer.DryCough" id="dryCough" class='ctrl__counter-input ctrl_17_input d-none' maxlength='10' type='text' value='0'>
                                                    <div class='ctrl__counter-num ctrl_17_num'>0</div>
                                                </div>
                                                <div class='ctrl__button ctrl__button--increment ctrl_17_increment'>+</div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Alcoholuse</label>
                                            <input type="radio" name="rdo" id="yes5" />
                                            <input type="radio" name="rdo" id="no5" checked />
                                            <input asp-for="LungCancer.Alcoholuse" id="alcoholuse" type="hidden" value="0" class="res">
                                            <div class="switch sw_5">
                                                <label class="yes yes5" for="yes5">Yes</label>
                                                <span></span>
                                                <label class="no no5" for="no5">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Smoking</label>
                                            <input type="radio" name="rdo1" id="yes6" />
                                            <input type="radio" name="rdo1" id="no6" checked />
                                            <input asp-for="LungCancer.Smoking" id="smoking" type="hidden" value="0" class="res">
                                            <div class="switch sw_6">
                                                <label class="yes yes6" for="yes6">Yes</label>
                                                <span></span>
                                                <label class="no no6" for="no6">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">PassiveSmoker</label>
                                            <input type="radio" name="rdo2" id="yes2" />
                                            <input type="radio" name="rdo2" id="no2" checked />
                                            <input asp-for="LungCancer.PassiveSmoker" id="passiveSmoker" type="hidden" value="0" class="res">
                                            <div class="switch sw_3">
                                                <label class="yes yes2" for="yes2">Yes</label>
                                                <span></span>
                                                <label class="no no2" for="no2">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 col-lg-3">
                                            <label class="lbl">Snoring</label>
                                            <input type="radio" name="rdo3" id="yes3" />
                                            <input type="radio" name="rdo3" id="no3" checked />
                                            <input asp-for="LungCancer.Snoring" id="snoring" type="hidden" value="0" class="res">
                                            <div class="switch sw_4">
                                                <label class="yes yes3" for="yes3">Yes</label>
                                                <span></span>
                                                <label class="no no3" for="no3">No</label>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" class="submit mt-3 w-100">Send <i class="fas fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Model_3 -->

                </div>
            </div>
            <!-- End Pages -->

        </div>
    </div>

</div>
<!-- ============ Model End ============= -->

@section Scripts {
    <script>
        $("button.submit").click(function (e) {
            e.preventDefault();

            if($("#PatientName").val() == '') {
                Swal.fire({
                    title: "Please Enter Patient Name",
                    icon: 'error',
                    showCancelButton: true,
                });
            }
            else if ($("#age").val() < 1) {
                Swal.fire({
                    title: "Please Enter your age",
                    icon: 'error',
                    showCancelButton: true,
                });
            }
            else if($("#age").val() > 110) {
                Swal.fire({
                    title: "Enter your age correctly",
                    icon: 'error',
                    showCancelButton: true,
                });
            }
            else {
                let model = {
                    PatientName: $("#PatientName").val(),
                    Age: $("#age").val(),
                    Gender: $("#gender").val(),
                    AirPollution: $("#airPollution").val(),
                    Alcoholuse: $("#alcoholuse").val(),
                    DustAllergy: $("#dustAllergy").val(),
                    OccuPationalHazards: $("#occuPationalHazards").val(),
                    GeneticRisk: $("#geneticRisk").val(),
                    ChronicLungDisease: $("#chronicLungDisease").val(),
                    BalancedDiet: $("#balancedDiet").val(),
                    Obesity: $("#obesity").val(),
                    Smoking: $("#smoking").val(),
                    PassiveSmoker: $("#passiveSmoker").val(),
                    ChestPain: $("#chestPain").val(),
                    CoughingofBlood: $("#coughingofBlood").val(),
                    Fatigue: $("#fatigue").val(),
                    WeightLoss: $("#weightLoss").val(),
                    ShortnessofBreath: $("#shortnessofBreath").val(),
                    Wheezing: $("#wheezing").val(),
                    SwallowingDifficulty: $("#swallowingDifficulty").val(),
                    ClubbingofFingerNail: $("#clubbingofFingerNail").val(),
                    FrequentCold: $("#frequentCold").val(),
                    DryCough: $("#dryCough").val(),
                    Snoring: $("#snoring").val(),
                }
                
                let ajaxDiv = $(this).parent().parent().parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                $.ajax({
                    url: '/Model/LungCancer',
                    type: 'POST',
                    data: model,    
                    dataType: "json",
                    success: function (data) {
                        console.log(data.message);
                        ajaxDiv.find("img").addClass("d-none");
                        setTimeout(() => {
                            ajaxDiv.animate({ opacity: 0 }, function () {
                                $(this).addClass("d-none").fadeTo(.1, 1);
                                $(this).find("img").removeClass("d-none");
                            });
                        });

                        if (data.success) {
                            Swal.fire({
                                title: data.message,
                                icon: 'info',
                                showCancelButton: true,
                                confirmButtonText: 'Save',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Swal.fire('Saved!', '', 'success')
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                title: data.message,
                                icon: 'error',
                                showCancelButton: true,
                            });
                        }
                    }
                });
            }

        });
    </script>
    <script>
        $("a.upload").click(function (e) {
            e.preventDefault();

            if ($(this).parent().find(".PatientName").val() == '') {
                Swal.fire({
                    title: "Please Enter Patient Name",
                    icon: 'error',
                    showCancelButton: true,
                });
            }
            else {
                var formData = new FormData();
                formData.append('file', $(this).parent().find("input.drop-zone__input")[0].files[0]); // myFile is the input type="file" control
                formData.append('PatientName', $(this).parent().find(".PatientName").val());

                let _url;
                if ($(this).parent().attr('id') == "pneumonia") {
                    _url = '/Model/Pneumonia';
                }
                else if ($(this).parent().attr('id') == "tuberculosis") {
                    _url = '/Model/Tuberculosis';
                }

                let ajaxDiv = $(this).parent().parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                $.ajax({
                    url: _url,
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        ajaxDiv.find("img").addClass("d-none");
                        setTimeout(() => {
                            ajaxDiv.animate({ opacity: 0 }, function () {
                                $(this).addClass("d-none").fadeTo(.1, 1);
                                $(this).find("img").removeClass("d-none");
                            });
                        });

                        if (data.success) {
                            Swal.fire({
                                title: data.message,
                                icon: 'success',
                                showCancelButton: true
                            });
                        }
                        else {
                            Swal.fire({
                                title: data.message,
                                icon: 'error',
                                showCancelButton: true,
                            });
                        }
                    }
                })
            }
        });
    </script>
    <script src="~/js/model.js"></script>
    @{
        await Html.RenderPartialAsync("_Notification");
    }
}